
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Spectral SC', serif;
    font-size: 10px;
    color: black;
    font-weight: normal;
  }
  h1, h2 {
      margin: 0px;
      padding: 0px;
  }
  h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    width: 100%;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
  }
  .pagewidth {
    width: 1100px;
    margin: 16px 6px;
  }
  .container-fluid, .row, .col {
    margin: 0px;
    padding: 0px;
  }
  .col {
    margin: 0px 10px;
  }
  .align-top-left {
    text-align: left;
    vertical-align: top;
  }
  .align-center {
    text-align: center;
  }
  .simple-border {
    border: 1px solid black;
  }

  .text-padding {
    padding-left: 2px;
  }

  .mid-divider-right {
    margin: 0px;
    margin-left: 10px;
  }
  .mid-divider-left {
    margin: 0px;
    margin-right: 10px;
  }

  .section-divider {
    height: 16px;
  }
  table {
    width: 100%;
    border: 2px solid black;
  }

  .table-header {
    background-color: #f3f3f3;
    border: 2px solid black;
    border-bottom: 1px solid black;
    text-align: center;
  }
  .table-content {
    height: 21px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  .fated-char-content {
    height: 36px;
  }

  .aspect-aspect {
    width: 55%;
    border: 1px solid black;
    border-right: 0px;
    background-color: #f3f3f3;
    padding-left: 3px;
  }
  .aspect-shifted {
    padding-left: 8px;
  }
  .aspect-abbreviation {
    width: 5%;
    border: 1px solid black;
    border-left: 0px;
    font-size: 8px;
    color: #444;
    background-color: #f3f3f3;
  }
  .aspect-fill {
    border: 1px solid black;
  }

  .attacks-name {
  }
  .attacks-blank {
    width: 20px;
  }
  .attacks-spec {
    width: 18%;
  }
  .attacks-break {
    height: 12px;
  }
  .attacks-triggers-fill {
    height: 32px;
  }
  .attacks-between-break{
    height: 22px;
  }

  .skills-italic-table {
    border: 0px;
    font-style: italic;
  }
  .skills-category-spacing {
    width: 7%;
  }
  .skills-name-spacing {
    width: 36%;
  }
  .skills-plus-minus-spacing {
    width: 7%;
  }
  .skills-av-spacing {
    width: 16%;
  }
  .skills-rating-spacing {
    width: 16%;
  }
  .skills-aspect-spacing {
    width: 18%;
  }
  .skills-aspect-fill-spacing {
    width: 11%;
  }
  .skills-aspect-abbreviation-spacing {
    width: 7%;
  }
  .skills-category {
    transform: rotate(180deg);
    width: 7%;
    max-width: 0;
    text-align: center;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    background-color: #f3f3f3;
  }
  .skills-name {
    border: 1px solid black;
    border-right: 0px;
  }
  .skills-plus-minus {
    border: 1px solid black;
    border-left: 0px;
  }
  .skills-av {
    background-color: #f3f3f3;
  }
  .skills-fill {
    border: 1px solid black;
  }
  .skills-aspect-fill {
    border: 1px solid black;
    border-right: 0px;
  }
  .skills-aspect-abbreviation {
    border: 1px solid black;
    border-left: 0px;
    color: #444;
    text-align: center;
    font-size: 8px;
  }
