.talents-name {
    width: 25%;
    background-color: var(--grey-background-color);
    font-style: italic;
    height: 54px;
    border: 1px solid black;
    text-align: center;
}
.talents-fill {
    width: 75%;
    border: 1px solid black;
    vertical-align: baseline;
}

.magic-theories-box {
    vertical-align: baseline;
    height: 43px;
}
.grimoire-title {
    background-color: var(--grey-background-color);
    border: 1px solid black;
    border-top: 2px solid black;
    text-align: center;
}
.grimoire-name-fill {
    height: 36px;
}
.grimoire-fill {
    height: 94px;
    border: 1px solid black;
}

.money td {
    vertical-align: baseline;
    height: 44.1px;
}

.general-equipment td {
    border: 1px solid black;
    height: 43px;
}

.destiny-col {
    margin: 0px;
    padding: 0px;
}
.destiny {
    border: 0px;
}
.destiny-name {
    width: 60%;
    border: 1px solid black;
    background: var(--grey-background-color);
    text-align: center;
}
.destiny-check {
    width: 7%;
    border: 1px solid black;
}
.destiny-separator {
    width: 7%;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.destiny-card {
    width: 26%;
    border: 1px solid black;
    background: var(--grey-background-color);
    text-align: center;
}
.destiny-fill {
    height: 48px;
    border: 1px solid black;
}
.destiny-break {
    height: 16px;
}

.twist-title {
    border: 1px solid black;
    background: var(--grey-background-color);
    text-align: center;
}
.twist-fill {
    height: 36px;
    border: 1px solid black;
}
.twist-break {
    height: 16px;
}

.notes-section {
    padding-left: 9px;
    padding-right: 9px;
}
.notes {
    vertical-align: baseline;
    height: 204.9px;
}

.skill-triggers th {
    background-color: var(--grey-background-color);
    border: 1px solid black;
}
.skill-triggers td {
    height: 43px;
    border: 1px solid black;
}

.armor {
    --header-width: 15%;
    --active-variant: 3;
    text-align: center;
}
.armor td {
    border: 1px solid black;
}

.armor-header {
    width: var(--header-width);
    vertical-align: center;
    height: 24px;
}
.armor-filler {
    width: calc(50% - var(--header-width));
    height: 46.3px;
}

.armor-mini-headers td {
    font-size: 8px;
    height: 12px;
}

.armor-mini-fillers td {
    font-size: 8px;
    color: #999;
    vertical-align: center;
}
